<div class="container tex-center">
    <h5 style="color: rgb(29, 110, 202);" class="text-center">Registar Apoyos</h5><br>
    <div class="row">
        <div class="col">
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <button (click)="buscar()" type="button" pButton pRipple label="Buscar"></button>
                        <input style="width: 10%;" [(ngModel)]="cedula"  oninput="this.value = this.value.replace(/[^0-9]/,'-')" type="text" pInputText
                            placeholder="Introduce cedula del niño a buscar">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>

    <div *ngIf="cardnino==true" class="text-center">


        <p-card  styleClass="myClass">
            <ng-template pTemplate="header">
                <img src="http://192.168.26.3:4000/ " style="width: 100px;" alt="...">
                <h5 class="  card-tittle text-center">{{nombre}} {{Apellido}}</h5>
            </ng-template>

            <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Tipo de apoyo</label>
                <select (change)="capturar($event)"   id="tipoc" class="form-select">
                    <option ></option>
                    <option value="1">Economico</option>
                    <option value="2">Material</option>

                </select>


            </div>

            <div *ngIf="apoyoMaterial" class="row g-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Material</label>
                        <input [(ngModel)]="Material" type="text" class="form-control" autocomplete="off" id="apellido">


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Donador</label>
                        <input [(ngModel)]="Donador" type="text" class="form-control" id="apellido2" autocomplete="off">


                    </div>
                </div>
                <div class="text-center">
                    <button (click)="RegistrarMAterial()" style="width: 50%; height: 50px;" pButton pRipple type="button" label="Registrar Apoyo"
                        class="p-button-help"></button>

                </div>
            </div>

            <div *ngIf="apoyoEconomico" class="row g-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Tipo de apoyo</label>
                        <input [(ngModel)]="TipoApoyo" type="text" class="form-control" autocomplete="off" id="apellido">


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Monto</label>
                        <input [(ngModel)]="Monto" type="number" class="form-control" id="apellido2" autocomplete="off">


                    </div>
                </div>
                <div class="text-center">
                    <button (click)="RegistrarApoyoEconomico()" style="width: 50%; height: 50px;" pButton pRipple type="button" label="Registrar Apoyo"
                        class="p-button-help"></button>

                </div>
            </div>
        </p-card>







    </div>      <!-- Toast de eventos -->
      <p-toast position="bottom-center"></p-toast>
