.parrafo{
    color: red;
}

.imgs{

    
}

.contenedor{
width: 50%;
background: red;

}

.btn1{
    margin: 2px;
}

.carta{
    border-top: rgb(224, 224, 224) 2px solid;
    border-bottom: rgb(223, 223, 223) 2px solid;
}

.footer{
    width: 100%;
    background: red;
    
}


#login-form {
    width: 600px;
    height: 350px;
    border-radius: 12px;
    background: white;
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

