<div class="container tex-center">
    <div class="row">
        <div class="col">
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <button (click)="buscar()" type="button" pButton pRipple label="Buscar"></button>
                        <input [(ngModel)]="cedula" style="width: 10%;" type="text" pInputText
                            placeholder="Introduce cedula del niño a buscar">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>

    <div *ngIf="cardnino==true" class="text-center">


        <p-card  styleClass="myClass">
            <ng-template pTemplate="header">
                <img src="{{Foto}}" style="width: 100px; margin-top: 20px;" alt="...">
                <br>
                <h5 class="card-tittle text-center">{{nombre}} {{Apellido}}</h5>
            </ng-template>
            <div  class="row g-3">
            
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Tipo de Actividad</label>
                        <input [(ngModel)]="TipoActividad" type="text" class="form-control" autocomplete="off" id="apellido">


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Fecha de inicio</label>
                        <input [(ngModel)]="inicio" type="date" class="form-control" id="apellido2" autocomplete="off">


                    </div>
                </div>
            </div>
            <br>
                <div class="text-center">
                    <button (click)="RegistrarActividad()" style="width: 50%; height: 50px;" pButton pRipple type="button" label="Registrar Actividad"
                        class="p-button-help"></button>

      
            </div>
        </p-card>







    </div>
    
    <p-toast position="bottom-center"></p-toast>
